body {
    margin: 0;
    background-color: #121212;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.full-screen-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.car-container {
    border: 1px solid #333;
    border-radius: 12px;
    width: 90%;
    max-width: 600px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    background: linear-gradient(135deg, #2c2c2c 0%, #1c1c1c 100%);
    color: #e0e0e0;
}

.car-summary {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.car-summary:hover {
    background-color: #2e2e2e;
    transform: scale(1.02);
}

.product-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.car-details {
    padding: 20px;
    border-radius: 8px;
    margin-top: 15px;
    background-color: #1e1e1e;
    border: 1px solid #444;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    animation: fadeIn 0.5s ease;
    text-align: center;
}

.car-details h3 {
    color:  #eb9d29; /* Red */
}

.product-description {
    color: #b0b0b0;
}

.product-info {
    color: #e0e0e0;
    font-weight: bold;
}

.rent-button {
    background-color: #eb9d29; /* Red */
    color: white;
    border: none;
    padding: 12px 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: 16px;
    font-weight: bold;
}

.rent-button:hover {
    background-color: #eb9d29;
    transform: scale(1.05);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
